body {
    position: relative;
    background-color: skyblue;
    color: black;
    margin: 32px;
    border: 16px solid;
}

h1 {
    padding-top: 0px;
    padding-left: 70px;
    font-family: fantasy;
    font-size: 70px;
}

p.identitas {
    position: relative;
    left: 70px;
    bottom: 35px;
    font-family: monospace;
    font-style: italic;
    font-size: 28px;
}

img {
    position: relative;
    border-radius: 50%;
    left: 80px;
    bottom: 40px;
}

div {
    position: absolute;
    background-color: black;
    bottom: 180px;
    left: 540px;
    font-family: monospace;
    font-size: 20px;
    color: skyblue;
    border: 15px solid;
    border-color: black;
}